@model List<EnjuAihara.ViewModels.Firebase.NotificationViewModel>
<div class="card">
	<div class="card-header text-white text-center" style="background-color: #d76133">
		Các thông báo chưa đọc
	</div>
	<ul class="list-group list-group-flush text-center" id="NotificationList">
		@if (Model != null && Model.Count > 0)
		{
			foreach (var i in Model)
			{
				<li class="list-group-item">
					<div class="timeline-item text-left">
						<span class="time"><i class="fas fa-clock"></i></span>
						<h3 class="timeline-header">@i.Title</h3>
						<div class="timeline-body">
							@i.Content
						</div>
						<div class="timeline-footer">
							<a class="btn btn-warning btn-sm" href="@i.Link">Xem chi tiết</a>
						</div>
					</div>
				</li>
			}
		}
		
	</ul>
	<div class="card-footer text-center">
		<a href="#">Xem tất cả các thông báo</a>
	</div>
</div>