@model List<EnjuAihara.ViewModels.Firebase.NotificationViewModel>
<div class="card">
	<div class="card-header text-white text-center" style="background-color: #d76133">
		Các thông báo chưa đọc
	</div>
	<ul class="list-group list-group-flush text-center" id="NotificationList">
		@if (Model != null && Model.Count > 0)
		{
			foreach (var i in Model)
			{
				<li class="list-group-item">
					<div class="timeline-item text-left">
						<span class="time"><i class="fas fa-clock"></i>@(((DateTime)i.CreateDate).ToString("dd/MM/yyyyy vào lúc HH:mm:ss"))</span>
						<h3 class="timeline-header">@i.Title</h3>
						<div class="timeline-body">
							Nội dung: @i.Content
						</div>
					</div>
				</li>
			}
		}
		
	</ul>
	<div class="card-footer text-center">
		<a href="#">Xem tất cả các thông báo</a>
	</div>
</div>