<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
    <thead class="table-header">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Tên thuốc</th>
            <th class="text-center">Đơn vị tính</th>
            <th class="text-center">Các thành phần</th>
            <th class="text-center">Các nhà cung cấp</th>
            <th class="text-center">Tình trạng thuốc</th>
            <th class="text-center">Tình trạng thuốc trong kho</th>
            <th class="text-center">Số lượng tồn</th>
            <th class="text-center">Giá bán cao nhất</th>
            <th class="text-center">Hạn sử dụng gần nhất</th>
            <th class="text-center">Vị trí nhà cung cấp</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
</table>
