<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý thuốc</h1>
            </div>
            <div class="col-sm-6 text-right">
                <div class="pull-right">
                    <a class="btn btn-primary" href="/Masterdata/Medicine/Create" id="btn-create" target="_blank"><i class="fa fa-plus-square"></i> Thêm mới</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="frmSearch">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="MedicineName" class="col-form-label">Tên thuốc</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="MedicineName" name="MedicineName" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="MedicineCode" class="col-form-label">Mã thuốc</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="MedicineCode" name="MedicineCode" class="form-control">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="ProviderName" class="col-form-label">Tên nhà cung cấp</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="ProviderName" name="ProviderName" class="form-control">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="ProviderName" class="col-form-label">Tên thành phần</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="IngredientName" name="IngredientName" class="form-control">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="Actived" class="col-form-label">Trạng thái</label>
                                                </div>
                                                <div class="col-md-9">
                                                    @*<input type="text" id="AccountName" name="AccountName" class="form-control">*@
                                                    @Html.DropDownList("Actived", (SelectList)ViewBag.Actived, "-- Tất cả --", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-primary" id="btn-search">
                                                <i class="fas fa-search"></i>
                                                Tìm Kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <div id="divSearchResult">
                                @*@Html.Partial("_PaggingServerSide")*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
