<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Mã người dùng</th>
			<th class="text-center">Họ người dùng</th>
			<th class="text-center">Tên người dùng</th>
			<th class="text-center">Ngày sinh</th>
			<th class="text-center">Địa chỉ</th>
			<th class="text-center">Điện thoại</th>
			<th class="text-center">Email</th>
			<th class="text-center">Danh sách tài khoản</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
</table>