<style>
	table.dataTable td, table.dataTable th {
		white-space: nowrap;
	}
</style>
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Quản lý người dùng</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<a class="btn btn-primary" href="/Masterdata/User/Create" id="btn-create" target="_blank"><i class="fa fa-plus-square"></i> Thêm mới</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmSearch">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="UserCode" class="col-form-label">Mã nguời dùng</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="UserCode" name="UserCode" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="UserName" class="col-form-label">Tên người dùng</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="UserName" name="UserName" class="form-control">

												</div>
											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-12">
											<div class="row g-3 align-items-center">
												<div class="col-md-12 text-center">
													<label class="col-form-label">Ngày sinh</label>
												</div>

											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="BirthdayFrom" class="col-form-label">Từ ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="BirthdayFrom" name="BirthdayFrom" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="BirthdayTo" class="col-form-label">Đến ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="BirthdayTo" name="BirthdayTo" class="form-control">
												</div>
											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Address" class="col-form-label">Địa chỉ</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Address" name="Address" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Email" class="col-form-label">Email</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Email" name="Email" class="form-control">
												</div>
											</div>
										</div>
									</div>


									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Phone" class="col-form-label">Số điện thoại</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Phone" name="Phone" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Actived" class="col-form-label">Trạng thái</label>
												</div>
												<div class="col-md-9">
													@Html.DropDownList("Actived", (SelectList)ViewBag.Actived, "-- Tất cả --", new { @class = "form-control" })
												</div>
											</div>
										</div>
									</div>

									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-search">
												<i class="fas fa-search"></i>
												Tìm Kiếm
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="card">
						<div class="card-body">
							<div id="divSearchResult" style="overflow-x:auto;" class="table-responsive">
								@Html.Partial("_PaggingServerSide")
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		Select2Init("#Actived");
		CloseSideBar();
		var columns = [
			{
				"data": "STT",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "UserCodeResult",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "LastName",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "FirstName",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "BirthdayString",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "AddressResult",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "PhoneResult",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "EmailResult",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "AccountName",
				"orderable": false,
				"className": "text-center",
				"render": function (data, type, row) {
					if (data != "" && data != null) {
						var s = '<select class="form-control dropdown">';
						$.each(data, function (index, value) {
							s += '<option>' + value + '</option>';
						});
						s += '</select >';
						return s;
					}
					return "Người dùng hiện chưa có tài khoản";
				}
			},
			{
				"data": "Status",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "UserId",
				"className": "text-center",
				"orderable": false,
				"render": function (data, type, row) {
					if (data != "" && data != null) {
						var s = '<a class="btn btn-info" href="/MasterData/User/Edit/' + data + '"><i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a>';
						return s;
					}
					return "";
				}
			}
		];
		PaggingServerSideSearchInitialWithClick("MasterData/User", columns, true);


		
	});
</script>