@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/Chart.js" integrity="sha512-v3ygConQmvH0QehvQa6gSvTE2VdBZ6wkLOlmK7Mcy2mZ0ZF9saNbbk19QeaoTHdWIEiTlWmrwAL4hS8ElnGFbA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>*@
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>*@
<div class="content-header">
</div>
<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						Báo cáo của Phước
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						Báo cáo của t
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="card">
					<div class="card-body">
						Báo cáo của t
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-6">
				<div class="card">
					<div class="card-body">
						Báo cáo của Phước
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="card">
					<div class="card-header">
						<label class="m-0">Top 10 thuốc được sử dụng nhiều nhất trong năm @DateTime.Now.Year</label>
					</div>
					<div class="card-body">
						<canvas id="canvas5"></canvas>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <label class="m-0">Thống kê số lượng thuốc nhập và bán trong năm @DateTime.Now.Year</label>
                    </div>
                    <div class="card-body">
                        <canvas id="canvas6"></canvas>
                    </div>
                </div>
			</div>

		</div>
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-header">
						<label class="m-0">Thống kê chi - thu trong năm @DateTime.Now.Year</label>
					</div>
					<div class="card-body">

						<canvas id="canvas7"></canvas>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="~/Scripts/ChartJs/Canvas5.js"></script>
<script src="~/Scripts/ChartJs/Canvas7.js"></script>

<script src="~/Scripts/ChartJs/Canvas6.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		//Canvas1
		//Canvas2
		//Canvas3
		//Canvas4
		//Canvas5
		TopThuocTrongNam()
		//Canvas6
		BaoCaoKho()
		//Canvas7
		BaoCaoChiTieuTrongNam();
	});
</script>
