@model IEnumerable<EnjuAihara.EntityFramework.MenuModel>
@{
	int j = 1;
	bool EditFlag = CustomeHtmlHelper.CheckPermission("/Permission/Menu", "EDIT");
}
<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Tên Menu</th>
			<th class="text-center">Icon</th>
			<th class="text-center">Thứ tự</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<td class="text-center" style="vertical-align: middle;">@j</td>
				<td class="text-center" style="vertical-align: middle;">@i.MenuName</td>
				<td class="text-center" style="vertical-align: middle;"><i class="@i.Icon"></i></td>
				<td class="text-center" style="vertical-align: middle;">@i.OrderIndex</td>
				<td class="text-center" style="vertical-align: middle;">
					@if (i.Actived == true)
					{
						<p>Đang sử dụng</p>
					}
					else
					{
						<p>Đã ngừng sử dụng</p>
					}
				</td>
				<td class="text-center" style="vertical-align: middle;">
					@if (EditFlag == true)
					{
						<a class="btn btn-info" href="/Permission/Menu/Edit/@i.MenuId"><i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a>
					}
				</td>
			</tr>
			j++;
		}
	</tbody>
</table>
