@model IEnumerable<EnjuAihara.EntityFramework.MenuModel>
@{
	int j = 1;
}
<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Tên Menu</th>
			<th class="text-center">Icon</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var i in Model)
		{
			<tr>
				<td class="text-center">@j</td>
				<td class="text-center">@i.MenuName</td>
				<td class="text-center"><i class="@i.Icon"></i></td>
				<td class="text-center">
					@if (i.Actived == true)
					{
						<p>Đang sử dụng</p>
					}
					else
					{
						<p>Đã ngừng sử dụng</p>
					}
				</td>
				<td>nnn</td>
			</tr>
			j++;
		}
	</tbody>
</table>
