@{
	bool CreateFlag = CustomeHtmlHelper.CheckPermission("/MasterData/Provider", "CREATE");
	bool EditFlag = CustomeHtmlHelper.CheckPermission("/MasterData/Provider", "EDIT");
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý nhà cung cấp</h1>
            </div>
            <div class="col-sm-6 text-right">
                <div class="pull-right">
                    @if (CreateFlag == true)
					{
                        <a class="btn btn-primary" href="/Masterdata/Provider/Create" id="btn-create" target="_blank"><i class="fa fa-plus-square"></i> Thêm mới</a>
					}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form id="frmSearch">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="ProviderCode" class="col-form-label">Mã nhà cung cấp</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="ProviderCodeSearch" name="ProviderCodeSearch" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="ProviderCodeName" class="col-form-label">Tên tài khoản</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="ProviderNameSearch" name="ProviderNameSearch" class="form-control">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="AddressSearch" class="col-form-label">Địa chỉ</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="text" id="AddressSearch" name="AddressSearch" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="Actived" class="col-form-label">Trạng thái</label>
                                                </div>
                                                <div class="col-md-9">
                                                    @*<input type="text" id="AccountName" name="AccountName" class="form-control">*@
                                                    @Html.DropDownList("Actived", (SelectList)ViewBag.Actived, "-- Tất cả --", new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @*<div class="row mt-3">
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="FromDate" class="col-form-label">Được tạo từ ngày</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="date" id="FromDate" name="FromDate" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row g-3 align-items-center">
                                                <div class="col-md-3 text-center">
                                                    <label for="ToDate" class="col-form-label">Được tạo đến ngày</label>
                                                </div>
                                                <div class="col-md-9">
                                                    <input type="date" id="ToDate" name="ToDate" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>*@
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-md-12 text-center">
                                            <button type="button" class="btn btn-primary" id="btn-search">
                                                <i class="fas fa-search"></i>
                                                Tìm Kiếm
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="card">
                        <div class="card-body">
                            <div id="divSearchResult">
                                @Html.Partial("_PaggingServerSide")
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var EditFlag = "@EditFlag";
		var columns = [
			{
				"data": "STT",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "ProviderCode",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "ProviderName",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Address",
				"className": "text-center",
				"orderable": true,
			},
			//{
			//	"data": "RoleName",
			//	"orderable": false,
			//	"className": "text-center",
			//	"render": function (data, type, row) {
			//		if (data != "" && data != null) {
			//			var s = '<select class="form-control dropdown">';
			//			$.each(data, function (index, value) {
			//				s += '<option>' + value + '</option>';
			//			});
			//			s += '</select >';
			//			return s;
			//		}
			//		return "Người dùng hiện chưa có vai trò";
			//	}
			//},
			//{
			//	"data": "CreateDateString",
			//	"className": "text-center",
			//	"orderable": true,
			//},
			//{
			//	"data": "LastLoginTimeString",
			//	"className": "text-center",
			//	"orderable": true,
			//},
			//{
			//	"data": "CreateBy",
			//	"className": "text-center",
			//	"orderable": true,
			//},
			{
				"data": "Status",
				"className": "text-center",
				"orderable": true,
			}
        ];
		if (EditFlag == true || EditFlag == 'True') {
			columns.push(
				{
					"data": "ProviderId",
					"className": "text-center",
					"orderable": false,
					"render": function (data, type, row) {
						if (data != "" && data != null) {
							var s = '<a class="btn btn-info" href="/MasterData/Provider/Edit/' + data + '"><i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a>';
							return s;
						}
						return "";
					}
				}
			);
		}
		//$("#btn-search").on("click", function () {
		//	PaggingServerSide("MasterData/Account", columns, true);
		//});
		PaggingServerSideSearchInitialWithClick("MasterData/Provider", columns, true);
		//Select2Init("#RoleNameSearch");
		Select2Init("#Actived");
	});
</script>