<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Mã toa thuốc</th>
			<th class="text-center">Tên bệnh nhân</th>
			<th class="text-center">Tên bác sĩ khám</th>
			<th class="text-center">Danh mục thuốc đã kê</th>
			<th class="text-center">Các bệnh gặp phải</th>
			<th class="text-center">Ghi chú của bác sĩ</th>
			<th class="text-center">Số tiền cần thu</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
</table>
