<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Thêm mới quận</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<a class="btn btn-info" href="/MasterData/District"><i class="fa-solid fa-arrow-rotate-left"></i>Quay lại</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmCreate" enctype='multipart/form-data'>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="DistrictName" class="col-form-label">Tên quận</label>
												</div>
												<div class="col-md-10">
													<input type="text" id="DistrictName" name="DistrictName" class="form-control" />
												</div>
											</div>
										</div>

										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="CityName" class="col-form-label">Thuộc thành phố</label>
												</div>
												<div class="col-md-10">
													@Html.DropDownList("CityName", (SelectList)ViewBag.CityList)
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-add" style="width:20%">
												Lưu
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		PreventEnterButton();
		$("#btn-add").on("click", function () {
			SaveData("MasterData/District", "#frmCreate");
		});
		Select2Init("#CityName");
	});
</script>


