@{
	bool EditFlag = CustomeHtmlHelper.CheckPermission("/MasterData/City", "EDIT");
}
<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Tên thành phố</th>
			<th class="text-center">Trạng thái</th>
			@if (EditFlag == true)
			{
				<th class="text-center">Hành động</th>
			}
		</tr>
	</thead>
</table>

