<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Báo cáo xuất nhập kho</h1>
			</div>
		</div>
	</div>
</div>

<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmSearch">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="BirthdayFrom" class="col-form-label">Từ ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="FromDate" name="FromDate" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="BirthdayTo" class="col-form-label">Đến ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="ToDate" name="ToDate" class="form-control">
												</div>
											</div>
										</div>
									</div>

									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-search">
												<i class="fas fa-search"></i>
												Tìm Kiếm
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
					<div class="panel-body">
						<div class="card">
							<div class="card-body" id="divSearchResult">
								
							</div>

						</div>
					</div>
				</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		$("#btn-search").on("click", function () {
			var formdata = new FormData();
			formdata.append("FromDate", $("#FromDate").val());
			formdata.append("ToDate", $("#ToDate").val());
			$.ajax({
				type: "POST",
				url: "/Report/XuatNhapKho/_DocumentViewerPartial",
				processData: false,
				contentType: false,
				data: formdata,
				success: function (data) {
					$("#divSearchResult").html("");
					$("#divSearchResult").append(data);
				},
				error: function (event, xhr, options, exc) {
					AlertPopup(2, "Lỗi", event.message);
				}
			});
		})
	});
</script>