<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Mã cuộc hẹn</th>
			<th class="text-center">Tên người đặt</th>
			<th class="text-center">Tên người xử lý</th>
			<th class="text-center">Tên người khám</th>
			<th class="text-center">Thời gian tạo</th>
			<th class="text-center">Tình trạng thanh toán</th>
			<th class="text-center">Số tiền cần thu</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
</table>

