<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Quản lý cuộc hẹn</h1>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmSearch">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="DateCode" class="col-form-label">Mã cuộc hẹn</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="DateCode" name="DateCode" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="DateMaker" class="col-form-label">Tên người đặt</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="DateMaker" name="DateMaker" class="form-control">
												</div>
											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Nurse" class="col-form-label">Tên người xử lý</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Nurse" name="Nurse" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Status" class="col-form-label">Trạng thái</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="DateMaker" name="DateMaker" class="form-control">
												</div>
											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-12">
											<div class="row g-3 align-items-center">
												<div class="col-md-12 text-center">
													<label class="col-form-label">Ngày tạo</label>
												</div>

											</div>
										</div>
									</div>

									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="FromDate" class="col-form-label">Từ ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="FromDate" name="FromDate" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="ToDate" class="col-form-label">Đến ngày</label>
												</div>
												<div class="col-md-9">
													<input type="date" id="ToDate" name="ToDate" class="form-control">
												</div>
											</div>
										</div>
									</div>

									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-search">
												<i class="fas fa-search"></i>
												Tìm Kiếm
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="card">
						<div class="card-body">
							<div id="divSearchResult">
								@Html.Partial("_PaggingServerSide")
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="XacNhanHoanThanh" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Xác nhận hoàn thành khám</h4>
				<button type="button" class="close modal-closing" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
			</div>
			<div class="modal-footer">
				<input type="button" class="modal-closing btn btn-default" id="CancelButton" data-bs-dismiss="modal" value="Cancel">
				<input type="button" class="btn btn-primary" id="XacNhanHoanThanhConfirm" value="Xác nhận hoàn thành">
				<input type="hidden" id="XacNhanHoanThanhId" name="XacNhanHoanThanhId" />
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		CloseSideBar();
		var columns = [
			{
				"data": "STT",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "DateCode",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Client",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Nurse",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Doctor",
				"orderable": true,
				"className": "text-center",
			},
			{
				"data": "DateCreateString",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "PayMentStatus",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Money",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "TrangThaiCuocHen",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "DateId",
				"className": "text-center",
				"orderable": false,
				"render": function (data, type, row) {
					if (data != "" && data != null) {
						var s;
						s = "";
						if (row.PayMentStatus == "Đã thanh toán") {
							if (row.Doctor == null || row.Doctor == "") {
								s += '<a class="btn btn-info"  target="_blank" href="/Services/Date/AppointDoctor/' + data + '">Chỉ định người khám</a>';
							}
							else {
								if (row.TrangThaiCuocHen == 'Chưa khám')
									s += '<a class="btn btn-success btn-xacnhanhoanthanh" data-id="' + data + '">Xác nhận khám xong</a>';
								else {
									s += '<a class="ml-2 btn btn-info"  target="_blank" href="/Services/Prescription/Create/' + row.PatientId + '">Kê đơn thuốc</a>';
								}
							}
						}
						return s;
					}
					return "";
				}
			}
		];
		PaggingServerSideSearchInitialWithClick("Services/Date", columns, true);

	});

	$(document).on("click", ".btn-xacnhanhoanthanh", function (e) {
		e.preventDefault();
		$("#XacNhanHoanThanhId").val($(this).data("id"));
		$("#XacNhanHoanThanh").modal("show");
	});


	$(".modal-closing").on('click', function () { 
		$("#XacNhanHoanThanhId").val("");
	});


	$(document).on("click", "#XacNhanHoanThanhConfirm", function (e) {
		e.preventDefault();
		var formdata = new FormData();
		formdata.append("Id", $("#XacNhanHoanThanhId").val());

		$.ajax({
			type: "POST",
			url: "/Services/Date/ConfirmFinish",
			data: formdata,
			processData: false,
			contentType: false,
			beforeSend: function () {
				$("#loading").show();
			},
			success: function (data) {
				$("#XacNhanHoanThanh").modal("hide");
				if (data.isSucess == true) {
					if (data.title && data.message) {
						$("#XacNhanHoanThanh").modal("hide");
						AlertPopup(1, data.title, data.message);
					}
					if (data.redirect) {
						setTimeout(function () {
							window.location.href = data.redirect;
						}, 1500);
					}
				}
			},
			error: function (event, xhr, options, exc) {
				AlertPopup(2, "Lỗi", event.message);
			},
			complete: function () {
				$("#loading").hide();
			}
		});
	});
</script>