<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Quản lý các câu hỏi thường xuyên</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<a class="btn btn-primary" href="/Masterdata/MostAskQuestions/Create" id="btn-create" target="_blank"><i class="fa fa-plus-square"></i> Thêm mới</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmSearch">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">

									<div class="row">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Title" class="col-form-label">Tiêu đề</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Title" name="Title" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Content" class="col-form-label">Câu hỏi</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="Content" name="Content" class="form-control">

												</div>
											</div>
										</div>
									</div>
									<div class="row mt-3">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Actived" class="col-form-label">Trạng thái</label>
												</div>
												<div class="col-md-9">
													@Html.DropDownList("Actived", (SelectList)ViewBag.Actived, "-- Tất cả --", new { @class = "form-control" })
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-search">
												<i class="fas fa-search"></i>
												Tìm Kiếm
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="card">
						<div class="card-body">
							<div id="divSearchResult">
								@Html.Partial("_PaggingServerSide")
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
		var columns = [
			{
				"data": "STT",
				"className": "text-center",
				"orderable": true,
            },
			{
				"data": "Title",
				"className": "text-left",
				"orderable": true,
			},
			{
				"data": "Content",
				"className": "text-left",
				"orderable": true,
				"render": function (data, type, row) {
					return '<textarea  style="overflow:hidden" class="form-control">' + data + "</textarea>";
				}
			},
			{
				"data": "OrderIndex",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "Actived",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "MostAskQuestionId",
				"className": "text-center",
				"orderable": false,
				"render": function (data, type, row) {
					if (data != "" && data != null) {
						var s = '<a target = "_blank" class="btn btn-info" tage href="/MasterData/MostAskQuestions/Edit/' + data + '"><i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a>';
						return s;
					}
					return "";
				}
			}
		];
		PaggingServerSideSearchInitialWithClick("MasterData/MostAskQuestions", columns, false);
		Select2Init("#Actived");
	});
</script>
