<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Mã tài khoản</th>
			<th class="text-center">Tên người dùng</th>
			<th class="text-center">Tên thật</th>
			<th class="text-center">Vai trò người dùng</th>
			<th class="text-center">Ngày tạo tài khoản</th>
			<th class="text-center">Thời gian đăng nhập cuối</th>
			<th class="text-center">Được tạo bởi</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
</table>