<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
    <thead class="table-header">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã nhập kho</th>
            <th class="text-center">Mã hàng nhập</th>
            <th class="text-center">Tên hàng nhập</th>
            <th class="text-center">Nhà cung cấp</th>
            <th class="text-center">Số lượng nhập</th>
            <th class="text-center">Trạng thái</th>
            <th class="text-center">Hạn sử dụng</th>
            <th class="text-center">Giá nhập</th>
            <th class="text-center">Phần trăm triết khấu</th>
            <th class="text-center">Giá bán</th>
            <th class="text-center">Người nhập</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
</table>
