<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
    <thead class="table-header">
        <tr>
            <th class="text-center">STT</th>
            <th class="text-center">Mã nhập kho</th>
            <th class="text-center">Ngày nhập kho</th>
            <th class="text-center">Ngày tạo</th>
            <th class="text-center">Người nhập</th>
            <th class="text-center">Trạng thái duyệt</th>
            <th class="text-center">Hành động</th>
        </tr>
    </thead>
</table>
