<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Tạo trang mới</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<a class="btn btn-info" href="/Permission/Page"><i class="fa-solid fa-arrow-rotate-left"></i>Quay lại</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmCreate" enctype='multipart/form-data'>
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-12">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="PageName" class="col-form-label">Tên trang</label>
												</div>
												<div class="col-md-10">
													<input type="text" id="PageName" name="PageName" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="PageUrl" class="col-form-label">Đường dẫn</label>
												</div>
												<div class="col-md-10">
													<input type="text" id="PageUrl" name="PageUrl" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="Icon" class="col-form-label">Icon</label>
												</div>
												<div class="col-md-10">
													<input type="text" id="Icon" name="Icon" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="OrderIndex" class="col-form-label">Order Index</label>
												</div>
												<div class="col-md-10">
													<input type="text" id="OrderIndex" name="OrderIndex" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-center">
												<div class="col-md-2 text-center">
													<label for="MenuId" class="col-form-label">Thuộc danh mục</label>
												</div>
												<div class="col-md-10">
													@Html.DropDownList("MenuId", (SelectList)ViewBag.MenuList, new { @class = "form-control" })
												</div>
											</div>
										</div>
										<div class="col-md-12 mt-3">
											<div class="row g-3 align-items-top">
												<div class="col-md-2 text-center">
													<label for="Functionlst" class="col-form-label">Chức năng</label>
												</div>
												<div class="col-md-10">
													@foreach (var i in (List<EnjuAihara.EntityFramework.FunctionModel>)ViewBag.FunctionLst)
													{
														
															<input type="checkbox" id="Functionlst" name="Functionlst" value="@i.FunctionId">
															<label for="Functionlst">@i.FunctionName</label>
															<br />
													}
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-add">
												<i class="fa fa-plus-square"></i>
												Thêm mới
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		PreventEnterButton();
		Select2Init("#MenuId");
		$("#btn-add").on("click", function () {
			SaveData("Permission/Page", "#frmCreate");
		});
	});

</script>

