<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Tiêu đề</th>
			<th class="text-center">Tóm tắt</th>
			<th class="text-center">Tác giả</th>
			<th class="text-center">Ngày tạo</th>
			<th class="text-center">Trạng thái</th>
			<th class="text-center">Hành động</th>
		</tr>
	</thead>
</table>
