@{
	bool EditFlag = CustomeHtmlHelper.CheckPermission("/MasterData/Illness", "EDIT");
}
<table class="table table-bordered table-striped table-hover dataTableServerSide no-footer" id="tableRes" style="width:100%">
	<thead class="table-header">
		<tr>
			<th class="text-center">STT</th>
			<th class="text-center">Tên bệnh</th>
			<th class="text-center">Tổng các trường hợp đã gặp</th>
			<th class="text-center">Trạng thái</th>
			@if (EditFlag == true)
			{
				<th class="text-center">Hành động</th>
			}
		</tr>
	</thead>
</table>
