@{
	bool CreateFlag = CustomeHtmlHelper.CheckPermission("/MasterData/Illness", "CREATE");
	bool EditFlag = CustomeHtmlHelper.CheckPermission("/MasterData/Illness", "EDIT");
}
<div class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1 class="m-0">Quản lý bệnh tật</h1>
			</div>
			<div class="col-sm-6 text-right">
				<div class="pull-right">
					<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ImportFromExcel">Import Excel</button>
					@if (CreateFlag == true)
					{
						<a class="btn btn-primary" href="/Masterdata/Illness/Create" id="btn-create" target="_blank"><i class="fa fa-plus-square"></i>Thêm mới</a>
					}
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="form-horizontal">
		<div class="panel-group">
			<div class="panel panel-default">
				<div class="panel-body">
					<form id="frmSearch">
						<div class="col-md-12">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="IllnessName" class="col-form-label">Tên bệnh</label>
												</div>
												<div class="col-md-9">
													<input type="text" id="IllnessName" name="IllnessName" class="form-control">
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div class="row g-3 align-items-center">
												<div class="col-md-3 text-center">
													<label for="Actived" class="col-form-label">Trạng thái</label>
												</div>
												<div class="col-md-9">
													@*<input type="text" id="AccountCodeSearch" name="AccountCodeSearch" class="form-control">*@
													@Html.DropDownList("Actived", (SelectList)ViewBag.Actived, "-- Tất cả --", new { @class = "form-control" })
												</div>
											</div>
										</div>
									</div>
									<div class="row" style="margin-top: 15px">
										<div class="col-md-12 text-center">
											<button type="button" class="btn btn-primary" id="btn-search">
												<i class="fas fa-search"></i>
												Tìm Kiếm
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="panel panel-default">
				<div class="panel-body">
					<div class="card">
						<div class="card-body">
							<div id="divSearchResult">
								@Html.Partial("_PaggingServerSide")
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="ImportFromExcel" class="modal modal fade"  role="dialog" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Import dữ liệu từ file excel</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<form id="excelForm" enctype='multipart/form-data'>
					<div class="row g-3 align-items-center">
						<div class="col-md-3 text-center">
							<label class="col-form-label">Chọn file</label>
						</div>
						<div class="col-md-9">
							<input type="file" id="ExcelFile" name="ExcelFile" class="form-control">
						</div>
					</div>
				</form>


			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
				<a class="btn btn-success" href="~/ExcelTemplate/Test.xlsx" target="_blank">Tải file mẫu</a>
				<button type="button" id="SaveExcelData" class="btn btn-primary">Lưu</button>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
	$(document).ready(function () {
		JqueryAutoComplete("/MasterData/Illness/AutoComplete", "#IllnessName");
		var flag = "@EditFlag";
		var columns = [
			{
				"data": "STT",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "IllnessName",
				"className": "text-center",
				"orderable": true,
			},
			{
				"data": "TotalCase",
				"className": "text-center",
				"orderable": true,
				"render": function (data, type, row) {
					if (data == "0" || data == null) {
						return "Bệnh chưa từng được gặp"
					}
					return data;
				}
			},
			{
				"data": "Status",
				"className": "text-center",
				"orderable": true,
			}
		];
		if (flag == true || flag == 'True') {
			columns.push(
				{
					"data": "IllnessId",
					"className": "text-center",
					"orderable": false,
					"render": function (data, type, row) {
						if (data != "" && data != null) {
							var s = '<a class="btn btn-info" target="_blank" href="/MasterData/Illness/Edit/' + data + '"><i class="fa-solid fa-pen-to-square"></i>Chỉnh sửa</a>';
							return s;
						}
						return "";
					}
				}
			);
		}
		PaggingServerSideSearchInitialWithClick("MasterData/Illness", columns, true);
		Select2Init("#Actived");


		$("#SaveExcelData").on('click', function () {
			var formData = new FormData();
			
			
			$.each($("#excelForm").find('input[type="file"]'), function (i, tag) {
				$.each($(tag)[0].files, function (i, file) {
					formData.append(tag.name, file);
				});
			});


			$.ajax({
				type: "POST",
				url: "/MasterData/Illness/ImportExcel",
				data: formData,
				processData: false,
				contentType: false,
				beforeSend: function () {
					$("#loading").show();
				},
				success: function (data) {
					if (data.isSucess) {
						if (data.title && data.message)
							AlertPopup(1, data.title, data.message);
						if (data.redirect) {
							setTimeout(function () {
								window.location.href = data.redirect;
							}, 1500);
						}
					}
					else {
						AlertPopup(3, data.title, data.message);
					}
				},
				error: function (xhr, status, error) {
					var err = eval("(" + xhr.responseText + ")");
					AlertPopup(3, "Lỗi", err);
				},
				complete: function () {
					$("#loading").hide();
				}
			});
		});


	});
</script>


